
<!-- LOGIN PANEL -->

<div class="col-xs-12 full">
  
  <div class="mid">
     <div class="col-xs-1 close pull-right">
      X
  </div>
     <div class="col-xs-12" style="margin-top:-30px; " >
      <h4 style="text-align:center;">
        <i class="fa fa-2x fa-sign-in" aria-hidden="true"></i>
        LOGIN PANEL
      </h4>
  </div>
  <div class="col-xs-10 col-xs-offset-1">
 
    <form >
        <div class="form-group inner-addon left-addon">

    <label for="email">Email address:</label>
    <input type="text" placeholder="eg : Name" class="form-control" name="username">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" placeholder="passwords" class="form-control" name="password">
  </div>
  <div class="col-xs-12">
  
    <div class=" col-xs-12 ad_option">
      <input type="checkbox" > keep me Signed In  
    </div>
    <div class=" col-xs-12 ad_option">
      <a href="#">Forget Passoword</a>  
    </div>
  </div>
  <div class="col-xs-8 col-xs-offset-2" style="margin-top:20px">
    <div class="col-sm-6 col-sm-offset-3   col-xs-12">
  <input type="submit" class="btn-lg btn-primary logi"  value="LOGIN">
  </div>
  
  </div>
  </div>
    </form>
  </div>
</div>
<!-- END OF LOGIN PANEL --> 