<div class="page-wrapper">
     	 <div class="container">
      
     	 	 <div class="col-md-11 col-md-offset-1 col-xs-12" style="margin-top:40px;background:#e5e5e5;border-radius:10px;padding:30px;box-shadow:5px 5px 40px #044">
         <h1  style="color:#030;text-align:center"> <i class="fa fa-user-plus" aria-hidden="true"></i> SIGN UP</h1>
     	 	 	 <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 ">
     	 	 	 	 <div class="row" style="margin-left: 200px;">
              <div class="col-xs-12 last">
                      <div class="col-xs-12" style="margin-top:5px;">Email-Address:</div>
                        <div class="col-xs-12">
                           <input type="email" placeholder="Email-Address" class="form-control">
                        </div>
                               
                      </div>
     	 	 	 	 	    <div class="col-xs-12 last">
                      <div class="col-xs-12" style="margin-top:5px;">Password:</div>
                        <div class="col-xs-12">
                         <input type="password" placeholder="Password" class="form-control">
                       </div>
                       </div>
                     
     	 	 	 	 	 <div class="col-xs-10 col-xs-offset-1 last">
               <input type="checkbox">
     	 	 	 	 	 	 By Signing up you will agree Privacy Policy and Terms of Conditions
     	 	 	 	 	 </div>
     	 	 	 	 	 <div class="col-xs-11 col-xs-offset-1">
     	 	 	 	 	 	 	<button class="btn btn-lg btn-success btn-block" type="submit">SIGNUP</button>
     	 	 	 	 	 </div>
     	 	 	 	 </div>
     	 	 	 </div>
     	 	 	 
     	 	 </div>
     	 </div>
     </div>